*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    background-color: #F2D4C2;
    color: rgb(52, 44, 33);
    width: 80%;
    margin: auto;
}
h1 {
    font-size: 350%;
    text-align: center;
    
}

h2 {
    text-align: center;
    font-size: 220%;
}
img{
    display:block ;
    margin:auto;
    width:1500px;
    height: 700px;
    object-fit: cover;
}
nav{
    display: flex;
    justify-content: flex-end;
}
nav a{
    text-decoration: none;
    color: rgb(52, 44, 33) ;
    font-weight: bold;
    font-size: 150% ;
    padding: 8px 12px;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out; 
    display: inline-block;
    

}

nav a:hover {
    background-color: rgba(131, 106, 74, 0.529);
    transform: translateY(7px);
    
}
